---
layout: default
title: Home
permalink: /
---
{% include header.html %}
{% include banner.html %}

<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Hello! My name is Tony!</h2>
      <p>
        I'm a San Francisco based freelancer with a passion for making people
        happy through high quality and aesthetically pleasing software. I
        specialize in Full Stack Software Development using Javascript and
        native iOS Development using Swift. I enjoy building anything from
        frontend web apps in the React ecosystem, to backend only APIs as well
        as building Slack bots and apps, Shopify, and Wordpress Ecommerce sites
        for small businesses and startups.
      </p>
    </header>
    <ul class="icons major">
      <li><a class="icon fa-camera major style1" href="//photography.tonyd.io"><span class="label">Photography</span></a></li>
      <li><a class="icon fa-heart major style2" href="//november-project.com/san-francisco-ca"><span class="label">November Project</span></a></li>
      <li><a class="icon fa-code major style3" href="//github.com/tonyd256"><span class="label">Software</span></a></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
  <section class="spotlight">
    <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
      <a href="https://github.com/thoughtbot/FOMObot"><h2>FOMObot</h2></a>
      <p>
        A Slack bot that monitors Slack channel activity. When certain Slack
        channels have activity spikes, FOMObot notifies users that they are
        potentially missing out on an important conversation. This fun passion
        project demonstraits how Slack bots can be used to enhance (or hinder)
        workplace productivity. Looking for a custom Slack bot or app for your
        organization, internally or externally? Reach out today!
      </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
      <h2>November Project</h2>
      <p>
        More than just a workout group. As a leader, I'm building a positive,
        social community to empower people to be fit, have fun, and push
        themselves. As a software developer, I built a workout tracking platform
        to help members keep track of their best results as well as help other
        leaders manage their workouts and members. Looking for custom web apps
        for users to interact with your product or service? Reach out today! 
      </p>
    </div>
  </section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <h2>Technologies</h2>
    </header>
    <ul class="features">
      <li class="icon fa-paper-plane-o">
        <h3>REST & GraphQL APIs</h3>
        <p>
          The backend data and service layer to your product. Through REST or
          GraphQL APIs, the data and services that make up your offerings are
          delivered to your users and frontend clients.
        </p>
      </li>
      <li class="icon fa-laptop">
        <h3>React Web Apps</h3>
        <p>
          The frontend clients that interact with your users. Build highly
          interactive and engaging web apps to captivate and retain your users.
        </p>
      </li>
      <li class="icon fa-code">
        <h3>Javascript & Node.JS</h3>
        <p>
          Using the latest in web technologies, I build and deliver high quality
          and maintainable code. My goal is to set my clients up for success
          while delivering them a usable product quickly.
        </p>
      </li>
      <li class="icon fa-heart-o">
        <h3>Slack Bots & Apps</h3>
        <p>
          Need to augment your existing services with more interactive apps? I
          love using Slack apps and bosts to provide users with more ways to
          interact with your product, enhancing their workplace productivity.
        </p>
      </li>
      <li class="icon fa-headphones">
        <h3>Shopify</h3>
        <p>
          Need to setup an Ecommerce site quickly and with low maintenace needs?
          Shopify is my go-to ecommerce platform for quick, powerful, and great
          looking websites.
        </p>
      </li>
      <li class="icon fa-flag-o">
        <h3>Wordpress</h3>
        <p>
          Looking for a completely custom content website to engage with users
          and sell your products? I reach for Wordpress to provide my customers
          with a powerfully customizable website at a extremely reasonable cost.
        </p>
      </li>
    </ul>
  </div>
</section>

{% include contact.html %}
{% include footer.html %}
