---
layout: default
title: Tony DiPasquale
permalink: /
---
{% include header.html %}
{% include banner.html %}

<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Hello!</h2>
      <p>
        I'm a San Francisco based freelancer with a passion for making people's
        dream companies and brands come to life on the internet. I enjoy working
        closely with clients to assess their needs to make the best
        technology decisions. I specialize in Full Stack Web Development using
        Javascript to build Web Apps, Portfolio Websites, Beta Launch landing
        pages, and Ecommerce shopping experiences. I've also worked with
        clients on Shopify and Wordpress + WooCommerce to help build their
        custom themes and plugins.
      </p>
    </header>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1">
  <div class="inner">
  <header class="major">
    <h2>Spotlight Projects</h2>
  </header>
  <div class="diamond"></div>
  <section class="spotlight adjust-up">
    <div class="image">
      <img class="frame" src="/images/wineandpeace.jpg" srcset="/images/wineandpeace@2x.jpg 2x" alt="Wine + Peace image" />
    </div>
    <div class="content">
      <a href="https://wineandpeace.com" target="_blank" rel="noopener noreferrer">
        <h2>Wine + Peace</h2>
      </a>
      <p>
        A wine ecommerce company creating a new way to purchase and learn about
        wine through values and sommolier curated boxes of small to medium sized
        wineries. I worked closely with a design team at Akufen to build their
        ecommerce platform on Wordpress and WooCommerce.
      </p>
    </div>
    <hr />
  </section>
  <!-- Battle of the Bay --!>
  <!-- For the long run podcast --!>
  <section class="spotlight">
    <div class="image">
      <img class="frame" src="/images/karl.jpg" srcset="/images/karl@2x.jpg 2x" alt="Karl bot graph" />
    </div>
    <div class="content">
      <a href="https://github.com/tonyd256/karl">
        <h2>Karl</h2>
      </a>
      <p>
        A simple Slack bot used to track member attendance across all November
        Project cities. Local city leaders can track their recruiting efforts
        while the founders can track global reach. Looking for a custom Slack
        bot or app for your organization, internally or externally? Let's chat
        today!
      </p>
    </div>
  </section>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style1 special">
  <div class="inner">
    <header class="minor">
      <h2>Technologies</h2>
    </header>
    <ul class="techs">
      <li>REST &amp; GraphQL APIs</li>
      <li>React SPAs &amp; PWAs</li>
      <li>Javascript &amp; Node.JS</li>
      <li>Wordpress &amp; WooCommerce</li>
      <li>Shopify</li>
      <li>JAMstack</li>
    </ul>
  </div>
</section>

{% include contact.html %}
{% include footer.html %}
