<!-- Banner -->
<section id="banner">
  <div class="inner">
    <div class="profile-image">
      <img src="/images/i-7X3zWwQ-X3.jpg" class="profile" />
    </div>
    <div>
      <h2>Tony DiPasquale</h2>
    </div>
    <p>Software &bull; Photography &bull; Fitness</p>
    <ul class="actions special">
      <li><a href="#one" class="button scrolly">Software</a></li>
      <li><a href="//photography.tonyd.io" class="button">Portfolio</a></li>
    </ul>
  </div>
  <a href="#one" class="more scrolly">How can I help you?</a>
</section>
