<!-- Banner -->
<section id="banner">
  <div class="inner">
    <div class="profile-image">
      <img src="/images/headshot.jpg" alt="headshot" srcset="/images/headshot@2x.jpg 2x" class="profile" />
    </div>
    <div>
      <h2>Tony DiPasquale</h2>
    </div>
    <p class="banner-links">
      <a href="#one" class="zoom scrolly">Software</a><span>&nbsp;&bull;</span>
      <a href="//tonywithasony.com" class="zoom" target="_blank" rel="noopener noreferrer">Photography</a><span>&nbsp;&bull;</span>
      <a href="//november-project.com/san-francisco-ca" class="zoom" target="_blank" rel="noopener noreferrer">Fitness</a>
    </p>
  </div>
</section>
