<!-- Contact -->
<section id="cta" class="wrapper style4">
  <div class="inner column">
    <h2>Let's get in touch!</h2>
    <form id="contact-form">
      <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
          <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div class="col-6 col-12-xsmall">
          <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="col-12">
          <textarea name="message" id="message" placeholder="How can we work together?" rows="6"></textarea>
        </div>
        <div class="col-12">
          <ul class="actions">
            <li><input id="submit" type="submit" class="button fit primary" value="Send Message"></li>
          </ul>
        </div>
      </div>
    </form>
    <div id="snackbar"></div>
  </div>
</section>
