@import 'libs/vars';

ul.no-border li {
  border-top: 0 !important;
}

.center {
  text-align: center;
}

div.column {
  @include vendor('flex-direction', 'column');
}

img.profile {
  width: 150px;
  border-radius: 75px;
}

div.profile-image {
  display: inline-block;
  background-color: white;
  border-radius: 77px;
  width: 154px;
  height: 154px;
  padding-top: 2px;
  margin-bottom: 32px;
}

#header {
  a {
    padding: 6px 0;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */

  &.success {
    background-color: _palette(accent1, bg);
  }

  &.error {
    background-color: _palette(accent6, bg);
  }
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.banner-links {
  @include breakpoint('<small') {
    a {
      display: block;
    }

    span {
      display: none;
    }
  }
}

.major {
  max-width: 51em;

  h2 {
    width: 20em;
  }
}

.spotlight {
  max-width: 100%;
  width: 51em;
  padding: 0px;
  margin: auto;
  justify-content: center;

  &.adjust-up {
    margin-top: -9em;

    @include breakpoint('<medium') {
      margin-top: -8em;
    }
  }

  div {
    flex-grow: 1;
    width: 100%;

    &.content {
      width: 100%;
    }

    &.image {
      padding: 0 0 0 0;
      width: 100%;
    }
  }
}

#one {
  position: relative;
  z-index: 2;
}

#two {
  position: relative;
  z-index: 1;
  padding-top: 0;

  header {
    position: relative;
    z-index: 2;
    background-color: white;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    border: solid 1px rgba(0, 0, 0, 0.125);
    height: 100%;
    top: 9em;
    left: 50%;

    @include breakpoint('<=medium') {
      display: none;
    }
  }
}

#three {
  z-index: 2;
  position: relative;
}

.diamond {
  top: -13em;
  position: relative;
  @include vendor('transform', 'rotate(45deg)');
  margin: auto;
  border: solid 1px rgba(0, 0, 0, 0.125);
  width: 10em;
  height: 10em;
  padding: 8px;

  &:before {
    display: block;
    content: '';
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.125);
  }

  @include breakpoint('<=small') {
    top: -12em;
  }
}

img.frame {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.techs {
  @include vendor('display', 'flex');
  @include vendor('flex-wrap', 'wrap');
  @include vendor('justify-content', 'center');
  list-style: none;
  text-align: center;
  padding: 0;
  width: 100%;

  li {
    padding: 2em 0 1em 0;
    display: block;
    position: relative;
    width: 33%;

    @include breakpoint('<=small') {
      padding: 0 0 1em 0;
      width: 50%;
    }

    @include breakpoint('<=xsmall') {
      padding: 0 0 1em 0;
      width: 100%;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  max-width: 100%;
}
